{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'news_app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'news_app/css/styles.css' %}">

    <title>News_app</title>
</head>
<body>

        <div class="container">

            <div class="row">
                <div class="col-12 text-center">
                        <a class = 'my_button' href="{% url 'export_xlsx'%}">Скачать все новости в .xlsx</a>
                </div>
            </div>

            <div class="row">
                <div class="col-3"></div>

                <div class="col-6">
                    {% for post in news %}
                    <div class = 'post_style'>
                        <h2>{{ post.header }}</h2>
                        <p>{{ post.description }}</p>
                        <img class = "img-fluid rounded" src="{{ post.image.url }}" alt="">
                    </div>
                    {% endfor %}
                </div>

                <div class="col-3"></div>
            </div>
        </div>

</body>
</html>